@model IEnumerable<RAC.RACModels.Program>

@{
    var tabIndex = 1;
}

<h3>Active Programs</h3>
<link href="~/Styles/view-programs.css" rel="stylesheet" />
@if (Model.Any(x => x.IsActive))
{
    <table class="table">
        <tr>
            <th class='programCol'>
                Program
            </th>
            <th class='actionsCol'>Actions</th>
        </tr>

        @foreach (var item in Model.Where(x => x.IsActive && x.DateExpired == null))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramMinistryData.MinistryCode) - @Html.DisplayFor(modelItem => item.ProgramMinistryData.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProgram", new { id = item.Id}, new { tabindex = tabIndex++ }) | 
                    @Html.ActionLink("Deactivate", "ToggleArchive", new { id = item.Id, value = false}, new { tabindex = tabIndex++ })
                </td>
            </tr>
        }

    </table>
}
else
{
    <h4>No active programs</h4>
}

<h3>Inactive Programs</h3>
@if (Model.Any(x => x.IsActive == false && x.DateExpired == null))
{

    <table class="table">
        <tr>
            <th class='programCol'>
                Program
            </th>
            <th class='actionsCol'>Actions</th>
        </tr>

        @foreach (var item in Model.Where(x => x.IsActive == false && x.DateExpired == null))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramMinistryData.MinistryCode) - @Html.DisplayFor(modelItem => item.ProgramMinistryData.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProgram", new { id = item.Id}, new { tabindex = tabIndex++ }) | 
                    @Html.ActionLink("Activate", "ToggleArchive", new { id = item.Id, value = true }, new { tabindex = tabIndex++ })
                </td>
            </tr>
        }

    </table>

}
else
{
    <h4>No inactive programs</h4>
}