@model RAC.RACModels.ElementViewModel

@using (Html.BeginForm("CreateElementFromCompetencyPage", "RACAdvisor", null , FormMethod.Post, new { id = "CreateCompetencyElementForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", cols = 50, rows = 10 })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="CreateCompetencyElement" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}