@model IEnumerable<RAC.RACModels.ProgramResultsViewModel>



<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#ProgRes">Program Results</a>
            </h4>
        </div>
        <div id="ProgRes" aria-expanded='true' class="panel-collapse collapse">
            <div class="panel-body">
                <div class='table-responsive'>
                    @if (Model.Any())
    {
                <table class="table">
                    <tr>
                        <th>
                            Select One
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClaraCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProgramNameFromClaraEN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProgramNameFromClaraFR)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TypeOfProgram)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Year)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NumberOfCompetencies)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NumberOfCourseProfiles)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
    {
                <tr>
                    <td>
                        @if (item.NumberOfCompetencies == 0 || item.NumberOfCourseProfiles == 0)
        {@Html.Raw("-")
}
else
{<input type="radio" name="ProgramId" value='@item.ClaraId'>}

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClaraCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgramNameFromClaraEN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgramNameFromClaraFR)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeOfProgram)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfCompetencies)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfCourseProfiles)
                    </td>

                </tr>
}

                </table>
                    }
                    else { <h4>No program results found</h4>}


                </div>
            </div>
        </div>
    </div>
</div>

