@using CaptchaMvc.HtmlHelpers;
@using RAC.BusinessLogic;
@model RAC.Validation.CandidateVal

@{
    ViewBag.Title = "Update Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink(" ", "ViewAccount", "Account", Model.ToCandidate(), new { id = "btnBack", @class = "bottomNav btn btn-default glyphicon glyphicon-arrow-left" })
<h2>Update Account</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Email)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control",  } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control",  } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomePhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePhone, new { htmlAttributes = new { @class = "form-control",  } })
                @Html.ValidationMessageFor(model => model.HomePhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkPhone, new { htmlAttributes = new { @class = "form-control",  } })
                @Html.ValidationMessageFor(model => model.WorkPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PreferredMethodOfContact, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.PreferredMethodOfContact, EnumHelper.GetSelectList(typeof(RAC.Models.PreferredMethodOfContact)), null, new { @class = "form-control" })
                @{Html.ValidateFor(m => m.PreferredMethodOfContact);}
                @Html.ValidationMessageFor(m => m.PreferredMethodOfContact, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control",  } })
                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control",  } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Province, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Province, new { htmlAttributes = new { @class = "form-control",  } })
                @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control",  } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id='btnSave' type="submit" value="Save" class="btn btn-default" />
                | 
                @Html.ActionLink("Change Program", "ChangeProgram", "Account", routeValues: Model, htmlAttributes: new { id = "" })             
            </div>
        </div>
    </div>

    <br /><br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Delete Account", "DeleteAccountCandidate", "Account", routeValues: null, htmlAttributes: new { id = "btnDeleteAccount", style = "color: red;" })
        </div>
    </div>
    
}

@Html.Partial("../Shared/_PopUp", Model)
<script>
    function deleteAccount() {
        hidePopup();
        document.querySelector("#btnDeleteAccount").onclick = () => { };
        document.querySelector("#btnDeleteAccount").click();
    }

    document.querySelector("#btnDeleteAccount").onclick = e => {
        e.preventDefault();

        changePopupHeader("Confirm");

        let text = "Are you sure that you would like to delete your account? All progress you have made will be deleted and this cannot be undone.<br /><br />";
        text += "<button onclick='deleteAccount();'>Yes, I'm sure</button> | <a href='#' onclick='hidePopup();' >Cancel</a>";
        changePopupContent(text);
        showPopup();
    };
</script>


<div>
    @Html.ActionLink("Cancel", "ViewAccount", "Account", routeValues: Model.ToCandidate(), htmlAttributes: new { id = "" })
</div>
